<h1>Home Page</h1>
<ul>
  <li ng-repeat="room in home.rooms" ng-click="home.selectRoom(room)"> {{ room.$value }}</li>
</ul>

<form ng-submit="home.createRoom(home.newRoomName)">
    <div>
        <label>Create a New Room</label></br>
        <label for="name">Enter a room name:</label></br>
        <input ng-model="home.newRoomName" id="name" name="user_name">
    </div>
    <div class="button">
      <button type="submit">Cancel</button>
    </div>
    <div class="button"  >
      <button type="submit">Create a room</button>
    </div>
</form>

<ul>
  <li ng-repeat="message in home.messages">{{message.username}}:{{message.content}}</li>
  <form ng-submit="home.checkUsername(home.userName) ng-if="home.currentUser">
      <div>
          <label>Set a username</label></br></br>
          <label>This name will appear when you send messages:</label></br></br>
          <input type="text" ng-model="home.userName"></br>
      </div>
      <div class="button">
      </br><button type="submit"> Set username</button>
      </div>
  </form>
</ul>
